@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-dark bg-opacity-50 backdrop-blur-sm;
  box-shadow: 5px 5px 15px -5px rgba(20, 184, 166, 0.3) !important;
}

.navbar-fixed-footer {
  @apply fixed z-[9999] bg-dark;
  box-shadow: 5px 5px 15px 1px rgba(20, 184, 166, 0.3) !important;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
